# This file contains common pin mappings for the BigTreeTech SKR PRO.
# To use this config, the firmware should be compiled for the
# STM32F407 with a "32KiB bootloader".

# The "make flash" command does not work on the SKR PRO. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR PRO
# with that SD card.

# See docs/Config_Reference.md for a description of parameters.
[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f407xx_320035000D5052424E303920-if00

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_z_velocity: 5
max_z_accel: 100
square_corner_velocity: 5.0

[display]
lcd_type: st7920
cs_pin: EXP1_4
sclk_pin: EXP1_5
sid_pin: EXP1_3
encoder_pins: ^EXP2_3, ^EXP2_5
click_pin: ^!EXP1_2
#kill_pin: ^!EXP2_8

[output_pin beeper]
pin: EXP1_1

[display_status]

[pause_resume]

[virtual_sdcard]
path: ~/gcode_files

[bltouch]
sensor_pin: ^PA2
control_pin: PA1
pin_up_reports_not_triggered: true

[safe_z_home]
home_xy_position: 400, 350 # Change coordinates to the center of your print bed
speed: 120
z_hop: 10                  # Move up 10mm
z_hop_speed: 5

[bed_mesh]
speed: 120
horizontal_move_z: 5
mesh_min: 30,30
mesh_max: 770,570
probe_count: 7,6
algorithm: bicubic
fade_start: 1
fade_end:10
fade_target: 0

[verify_heater extruder]
max_error: 140
check_gain_time: 30

[stepper_x]
step_pin: PE9
dir_pin: PF1
enable_pin: !PF2
microsteps: 32
rotation_distance: 32
endstop_pin: PF3
position_endstop: 0
position_max: 800
homing_speed: 100
full_steps_per_rotation: 200

[tmc2208 stepper_x]
uart_pin: PC13
run_current: 0.800

[stepper_y]
step_pin: PE11
dir_pin: PE8
enable_pin: !PD7
microsteps: 32
rotation_distance: 32
endstop_pin: PF5
position_endstop: 0
position_max: 600
homing_speed: 100
full_steps_per_rotation: 200

[tmc2208 stepper_y]
uart_pin: PE3
run_current: 0.800

[stepper_z]
step_pin: PE13
dir_pin: PC2
endstop_pin: probe:z_virtual_endstop
microsteps: 32
rotation_distance: 8
enable_pin: !PC0
position_min: -1
position_max: 300

[tmc2208 stepper_z]
uart_pin: PE1
run_current: 0.675

[extruder]
step_pin: PE14
dir_pin: PA0
enable_pin: !PC3
microsteps: 32
rotation_distance: 23.250
gear_ratio: 50:17 # OMG F2 Dual-gear bowden
nozzle_diameter: 0.800
filament_diameter: 1.750
heater_pin: PB1 # Heat0
sensor_pin:  PF4 # T1 Header
sensor_type: EPCOS 100K B57560G104F
smooth_time: 0.001
min_temp: 0
max_temp: 260
max_power: 1.0
min_extrude_temp: 0
max_extrude_only_distance: 100.0

[tmc2208 extruder]
uart_pin: PD4
run_current: 0.800

[fan]
pin: PC8

[heater_fan extruder]
pin: PE5
max_power: 1.0
heater: extruder
heater_temp: 30.0
fan_speed: 1.0

[heater_fan controller]
pin: PE6
fan_speed: 0.90

########################################
# EXP1 / EXP2 (display) pins
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PG4, EXP1_3=PD11, EXP1_5=PG2, EXP1_7=PG6, EXP1_9=<GND>,
    EXP1_2=PA8, EXP1_4=PD10, EXP1_6=PG3, EXP1_8=PG7, EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=PB14, EXP2_3=PG10, EXP2_5=PF11, EXP2_7=PF12,  EXP2_9=<GND>,
    EXP2_2=PB13, EXP2_4=PB12, EXP2_6=PB15, EXP2_8=<RST>, EXP2_10=PF13
    # Pins EXP2_1, EXP2_6, EXP2_2 are also MISO, MOSI, SCK of bus "spi2"

# See the sample-lcd.cfg file for definitions of common LCD displays.

[gcode_macro PAUSE]
description: Pause the actual running print
rename_existing: PAUSE_BASE
gcode:
  PAUSE_BASE
  _TOOLHEAD_PARK_PAUSE_CANCEL

[gcode_macro RESUME]
description: Resume the actual running print
rename_existing: RESUME_BASE
gcode:
  ##### read extrude from  _TOOLHEAD_PARK_PAUSE_CANCEL  macro #####
  {% set extrude = printer['gcode_macro _TOOLHEAD_PARK_PAUSE_CANCEL'].extrude %}
  #### get VELOCITY parameter if specified ####
  {% if 'VELOCITY' in params|upper %}
    {% set get_params = ('VELOCITY=' + params.VELOCITY)  %}
  {%else %}
    {% set get_params = "" %}
  {% endif %}
  ##### end of definitions #####
  {% if printer.extruder.can_extrude|lower == 'true' %}
    M83
    G1 E{extrude} F2100
    {% if printer.gcode_move.absolute_extrude |lower == 'true' %} M82 {% endif %}
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}  
  RESUME_BASE {get_params}

[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
variable_park: True
gcode:
  ## Move head and retract only if not already in the pause state and park set to true
  {% if printer.pause_resume.is_paused|lower == 'false' and park|lower == 'true'%}
    _TOOLHEAD_PARK_PAUSE_CANCEL
  {% endif %}
  TURN_OFF_HEATERS
  CANCEL_PRINT_BASE

[gcode_macro _TOOLHEAD_PARK_PAUSE_CANCEL]
description: Helper: park toolhead used in PAUSE and CANCEL_PRINT
variable_extrude: 1.0
gcode:
  ##### set park positon for x and y #####
  # default is your max posion from your printer.cfg
  {% set x_park = printer.toolhead.axis_maximum.x|float - 5.0 %}
  {% set y_park = printer.toolhead.axis_maximum.y|float - 5.0 %}
  {% set z_park_delta = 2.0 %}
  ##### calculate save lift position #####
  {% set max_z = printer.toolhead.axis_maximum.z|float %}
  {% set act_z = printer.toolhead.position.z|float %}
  {% if act_z < (max_z - z_park_delta) %}
    {% set z_safe = z_park_delta %}
  {% else %}
    {% set z_safe = max_z - act_z %}
  {% endif %}
  ##### end of definitions #####
  {% if printer.extruder.can_extrude|lower == 'true' %}
    M83
    G1 E-{extrude} F2100
    {% if printer.gcode_move.absolute_extrude |lower == 'true' %} M82 {% endif %}
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}
  {% if "xyz" in printer.toolhead.homed_axes %}
    G91
    G1 Z{z_safe} F900
    G90
    G1 X{x_park} Y{y_park} F6000
    {% if printer.gcode_move.absolute_coordinates|lower == 'false' %} G91 {% endif %}
  {% else %}
    {action_respond_info("Printer not homed")}
  {% endif %}

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 24.045
#*# pid_ki = 1.196
#*# pid_kd = 120.825
#*#
#*# [bltouch]
#*# z_offset = 1.300
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.268750, -0.117500, -0.167500, 0.273750, 0.336250, 0.240000, 0.442500
#*# 	  -0.238750, -0.330000, -0.421250, -0.241250, -0.241250, -0.203750, -0.111250
#*# 	  -0.023750, -0.165000, -0.207500, -0.283750, -0.438750, -0.595000, -0.240000
#*# 	  0.036250, 0.235000, 0.196250, 0.013750, -0.066250, -0.191250, -0.041250
#*# 	  0.541250, 0.562500, 0.406250, 0.041250, -0.232500, -0.192500, -0.002500
#*# 	  0.831250, 0.758750, 0.517500, 0.088750, -0.238750, -0.451250, -0.250000
#*# tension = 0.2
#*# min_x = 30.0
#*# algo = bicubic
#*# y_count = 6
#*# mesh_y_pps = 2
#*# min_y = 30.0
#*# x_count = 7
#*# max_y = 570.0
#*# mesh_x_pps = 2
#*# max_x = 769.98
